// ======================================
//  Variables
// ======================================
// -------------------------------------------
// Colors
// -------------------------------------------
// basic
$white: #fff;
$silver: #C0C0C0;
$black: #000;

// webpage specific colors
$blaze-orange: #FF6107;
$ebony-clay: #23253A;
$Chardonnayapprox: #FFBF90; 
$Totem-Pole: #A3130B;
$texas: #F8F9B9;
$fern: #62BC64;

$themes: (
    default: $blaze-orange,
    success: $fern,
    error: $Totem-Pole,
    secondary: $Chardonnayapprox,
    background: $ebony-clay,
    title: $texas
);


$clr-primary: map-get($themes, default);
$clr-secondary: map-get($themes, error);
$clr-background: map-get($themes, background);
$clr-title: map-get($themes, title);

// -------------------------------------------
// Breakpoints
// -------------------------------------------
$breakpoints: (
    "middle": 768px,
       "big": 1024px,
      "wide": 3440px
);

// -------------------------------------------
// Grid
// -------------------------------------------
$g-col-width    : 65px;
$g-gutter-width : 20px;
$g-col-count    : 12;
$g-cont-max-w   : 1050px;
