// ======================================
//  Variables
// ======================================
// -------------------------------------------
// Colors
// -------------------------------------------
// basic
$white: #fff;
$silver: #C0C0C0;
$black: #000;

// webpage specific colors
$blaze-orange: #FF6107;
$ebony-clay: #23253A;
$Chardonnayapprox: #FFBF90; // * font color
$yellow: #FAFF00;
$bright-red: #AD0000;

// $themes: (
//     default: $ebony-clay,
//     sidebar: $blaze-orange,
// );


$clr-primary: $blaze-orange; // map-get($themes, default);
$clr-secondary: $ebony-clay; // map-get($themes, sidebar);
$clr-title: $Chardonnayapprox;

// -------------------------------------------
// Fonts
// -------------------------------------------
$font-stack-sansserif: Helvetica, Verdana, sans-serif;
$font-stack-serif: Georgia, TimesNewRoman, serif;
$font-stack-mono: "Courier New", Courier, monospace;

// -------------------------------------------
// Fonts
// -------------------------------------------
$base__font-size: 16px;
$base__font-color: $black;
$base__line: 24px;

// -------------------------------------------
// Breakpoints
// -------------------------------------------
$breakpoints: (
    "middle": 768px,
       "big": 1024px,
      "wide": 3440px
);

// -------------------------------------------
// Grid
// -------------------------------------------
$g-col-width    : 65px;
$g-gutter-width : 20px;
$g-col-count    : 12;
$g-cont-max-w   : 1050px;
