// ========================================
// LAYOUT
// ========================================

.background {
    background: $clr-background;
    min-width: 320px;
}

.header {
    background: $clr-primary; // background color of header
    width: 100vw;
    position: relative;
    top: 0;

    box-shadow: 0 2px 18px;

    @include flexy(row, nowrap, space-evenly, center);

    & .title { // to eliminate h1 natural margin in mobile view 
        @include mq (small) {
            margin: 0;
        }
        @include mq (big) {
            margin: 0.2em;
        }
    }

    @include mq (middle) {
        flex-direction: column;
    }

    @include mq (big) {
        flex-direction: row;
        justify-content: space-around;
    }
}

.wrapper {
    @include center-container;
}
.intro {
    height: 70vh;
    @include flexy(column);
    
    @include mq(middle) {
        height: 65vh;
    }
    @include mq(big) {
        height: 70vh;
    }
    & > p {
        margin: 0;
    }
}