// ========================================
// LAYOUT
// ========================================

.background {
    background: $clr-background;
    min-width: 320px;
}

.header {
    background: $clr-primary; // background color of header
    width: 100%;
    position: relative;
    top: 0;

    box-shadow: 0 2px 18px;

    @include flexy(row, nowrap, space-evenly, center);

    & .title { // to eliminate h1 natural margin in mobile view 
        @include mq (small) {
            margin: 0;
        }
        @include mq (big) {
            margin: 0.2em;
        }
    }

    @include mq (middle) {
        flex-direction: column;
    }

    @include mq (big) {
        flex-direction: row;
        justify-content: space-around;
    }
}

.wrapper {
    @include center-container;

}
.intro {
    height: 85vh;
    @include flexy(column);
    
    background-image:   linear-gradient(
                            rgba($clr-background, 0.75), 
                            rgba($clr-background, 0.75)
                        ), 
                        url("../img/IMG_20181006_135932-EFFECTS.jpg"), ;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center 50%;
    
    @include mq(middle) {
        height: 65vh;
    }
    @include mq(big) {
        height: 70vh;
        box-shadow: inset 10px 10px 50px 100px $clr-background;
    }
    & > p {
        margin: 0;
    }
}

.footer {
    width: 60vw;
    margin: 0 auto 5em;
    border-top: $clr-secondary 2px solid;
    
    @include mq(middle) {
        width: 40vw;
    }
}
