// -------------------------------------------
// SECTIONS
// -------------------------------------------

// <section> title
.section {
    &__title {
        @include flexy($wrap: nowrap);
        margin-bottom: 2em;

        &-line {
            display: inline-block;
            background: red;
            width: 10%;
            height: 2px;
        }

        &-text {
            display: inline-block;
            margin-left: 1em;
            margin-right: 1em;
        }
    }
}

// end of <section> title

.project {
    &__list {
        display: grid;
        grid-gap: 1em;
        max-width: 80%;
        margin: 0 auto;
        @include mq(middle) {
            max-width: 90%;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1.5em 1em;
        }
        @include mq(big) {
            max-width: 80%;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2em;
        }
    }

    &__item {
        display: inline-block;
        padding: 1em;
        border-radius: 6px;
        background: rgba(lighten($clr-secondary, 40%), 0.4);
        
        @include mq(big) {
            height: 18em;

        }
        transition: background 200ms, transform 500ms, height 500ms;

    }
    
    &__preview {
        // display: block;
        width: 100%;
        margin: 0 auto;
        border-radius: 6px;
        
        box-shadow: 0 5px 5px -1px $clr-secondary;

        transition: all 700ms 250ms;
    }
    
    &__title {
        @include mq(small) {
            margin-top: 0.2em;
        }
    }

    &__desc,
    &__help {
        @include mq(big) {
            opacity: 0;
        }
    }

    &__help {
        @include flexy($justify: space-around)
    }
    
    // * hover state transition only 
    @include mq(big) {
        &__item:hover {
            height: 23em;
            transform: scale(1.2);
            background: rgba(lighten($clr-secondary, 40%), 1)
        }
        &__item:hover > &__preview {
            transform: scale(1.1);
            // box-shadow: 0 10px 10px -5px $clr-secondary;
        }
        &__item:hover &__desc, 
        &__item:hover &__help {
                opacity: 1;
                transition: opacity 300ms ease-in 500ms;
            } 
    } // end of hover state transition
}