// -------------------------------------------
// SECTIONS PROJECT
// -------------------------------------------

.project {
    display: grid;
    grid-gap: 1em;
    max-width: 80%;
    margin: 0 auto;
    @include mq(middle) {
        max-width: 90%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5em 1em;
    }
    @include mq(big) {
        max-width: 80%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
    }

    &__item {
        display: inline-block;
        height: 100%;
        padding: 1em;
        border-radius: 6px;
        background: rgba(lighten($clr-background, 40%), 0.4);

        transition: background 200ms, height 500ms, transform 500ms;

        position: relative;

    }
    
    &__preview {
        display: block;
        height: 200px;
        margin: 0 auto;
        border-radius: 6px;
        
        box-shadow: 0 5px 5px -1px $clr-background;

        transition: all 700ms 250ms;
    }
    
    &__title {
        @include mq(small) {
            margin-top: 0.2em;
        }
    }

    &__info {
        @include mq(big) {
            position: absolute;
            left: 1em;
            right: 1em;
            top: 0%;

            opacity: 0; 
        }

        & a {
            display: inline-block;
            margin: 0 2em;
            @include mq(big) {
                margin: 0 3em;
                
            }
        }

        & a:last-child {
            float: right;
        }
    }

    
    // * hover state transition only 
    @include mq(big) {
        &__item:hover {
            transform: scale(1.2);
            height: 150%;
            z-index: 99;
            background: rgba(lighten($clr-background, 40%), 1)
        }
        &__item:hover > &__preview {
            height: 240px;
            transform: scale(1.08);
            box-shadow: 0 10px 10px -5px $clr-background;
        }
        &__item:hover > &__info {
            opacity: 1;
            top: 60%;
            transition: top 200ms, opacity 500ms 500ms;
        } 
    } // end of hover state transition
}