// -------------------------------------------
// SECTIONS SKILLS
// -------------------------------------------

.skill {
    @include flexy;
    
    @include mq(big) {
        justify-content: space-evenly;
    }
    &__icon {
        flex: calc(100%/3);

        @include mq(middle) {
            flex: calc(100%/5);
        }
        
        @include mq(big) {
            max-width: 120px;
        }

    }

}