// -------------------------------------------
// SECTIONS CONTACT
// -------------------------------------------

.contact {
    max-width: 800px;
    margin: 0 auto;
    height: 40vh;
    @include flexy(column, nowrap, center, flex-end);

    background-image: url("../img/20180828_140132_1024.jpg");
    background-image: linear-gradient(to left, rgba($clr-background, 1), rgba($clr-background, 0.15), rgba($clr-background, 0)),
                      url("../img/20180828_140132_1024.jpg");              
    background-position: -120% 50%;
    background-size: 80%;
    background-repeat: no-repeat;

    &__message,
    &__resume {        
        text-shadow: 0.1em 0.1em $clr-secondary;
        transition: transform 300ms ease-out, 
                    text-shadow 300ms 80ms ease-out;
        transform-origin: center right;
        &:hover {
            text-shadow: -0.3em -0.4em $clr-secondary;
            transform: translateX(-50px) scale(2);
        }
    }

    &__link {
        margin: 1em 0 0 auto;
        
        @include mq(middle) {
            margin-top: 2em;
        }
        
    }
    
    &__icon {
        display: inline-block;
        margin-left: 1em;
        width: 50px;
        height: 50px;
        opacity: .4;
        transition: all 500ms;
        
        @include mq(middle) {
            width: 80px;
            height: 80px;
        }

        &:hover {
            opacity: 1;
        }
    }
}