// -------------------------------------------
// TEXT Styling
// -------------------------------------------

// ------- Placeholders -------
%yellow-text-xl {
    color: $clr-title;
    text-transform: uppercase;
}
// ----------------------------

.title {
    @extend %yellow-text-xl;
    text-align: center;

    @include mq (middle) {
        font-size: 2.2em;

        &::first-letter {
            font-size: 1.2em;
            color: lighten($clr-title, 5%);
            background: $clr-background;
            padding: 0 0.2em 0 0.6em;
            box-shadow: -5px -5px $clr-secondary; 
        }

    }
    @include mq(big) {
        font-size: 2.5em;
    }
}

.nav__link {
    @extend %yellow-text-xl;
    font-size: 1.5em;

    @include mq(big) {
        font-size: 2em;
    }
}

.intro {
    &__text {
        color: $clr-title;
        width: 80%;
        text-align: center;
        font-size: 1.2em;
        
        
        text-shadow: 1px 2px 1px $black;

        @include mq(middle) {
            font-size: 1.5em;
        };

        @include mq(big) {
            width: 60%;
            font-size: 1.8em;        
        };
    }

    &__link {
        @extend .intro__text;
        font-size: 1em;
        font-weight: bold;
    }
}

.section__title-text {
    @extend %yellow-text-xl;
    text-transform: capitalize;
    letter-spacing: 5px;
    @include mq(middle) {
        font-size: 1.3em;
    }
    @include mq(big) {
        font-size: 1.5em;
    }
}

.project {
    &__title{
        color: white;
        text-align: center;
    }
    &__desc{
        color: white;
        font-size: 0.8em;
    }
    &__help a {
        color: $clr-background;
        font-size: 0.5em;
    }
}

.contact {
    &__message {
        @extend %yellow-text-xl;
        font-size: 1.2em;
    }
    &__resume {
        @extend %yellow-text-xl;
        font-weight: lighter;
        font-size: 1em;
    }
}

.copyright {
    color: $white;
    font-size: 0.8em;
    opacity: 0.5;
    text-align: center;

    @include mq(middle) {
        font-size: 1em;
    }
}

.fas {
    color: $white;
}

.overlay {
    &__title {
        @extend %yellow-text-xl;
        font-size: 1.4em;
        margin-top: 0;

        @include mq(middle) {
            font-size: 2em;

        }
    }
    &__text {
        @extend %yellow-text-xl;
        font-size: 0.8em;
        @include mq(middle) {
            font-size: 1em;
        }
    }
    span {
        color: $white;
        text-decoration: underline;
        text-transform: lowercase;
    }
}

