// ======================================
//  Base Styles
// ======================================

* {
    font-family: $font-stack-sansserif;
    box-sizing: border-box;
    font-size: $base__font-size;
    line-height: ($base__line / $base__font-size);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
